# Object file
*.o
__pycache__
cpython-39.pyc
# Ada Library Information
*.ali
.DS_Store
cpython-39.pyc
__pycache__/ball.cpython-39.pyc
__pycache__/game.cpython-39.pyc
__pycache__/planets.cpython-39.pyc
__pycache__/ball.cpython-39.pyc
*.pyc
